<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testify</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/like.js"></script>
    <link rel="icon" href="/img/logo-ico.ico" type="image/x-icon">
</head>
<body>
    <% if(user) { %>
        <%- include(`../components/menu`) %>
    <% } else { %>     
        <div class="sidebar">
            <h2 style="color: white; margin: 10px;">Entre na comunidade</h2>
            <p style="color: white; margin: 10px; margin-bottom: 20px;">Quer interagir com <strong><%=perfil.username%></strong>? Crie uma conta em nossa comunidade ou faça login para enviar e interagir com os depoimentos.</p>
            <a style="margin: 10px; background-color: #121212; padding: 8px; border-radius: 10px;" href="/login"><strong>Vamos lá</strong></a>
        </div>
    <% } %>
    <div class="content">
        <div class="perfil-header">
            <img src="<%= perfil.picture%>" alt="">
            <div class="data">
                <h2>@<%= perfil.username %>
                    <% if (user && perfil.id == user.id) { %>
                      <a class="config" href="<%= helpers.baseUrl('config/perfil')%>">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      </a>
                    <% } else if(user && perfil.id != user.id) { %>
                        <button class="followButton" onclick="callFollow()" id="<%=`${user.id}-${perfil.id}`%>">Seguir</button>
                    <% } %>
                  </h2>                
                  <h3><%= perfil.name%></h3>
                  <p><%= perfil.bio%></p>
                  <div class="follow_data">
                    <p><strong><%= posts.count%></strong> depoimentos</p>
                    <p onclick="openFollowers()" id="followers_count"><strong><%= perfil.followers.length %></strong> seguidores</p>
                    <p onclick="openFollowings()"><strong><%= perfil.followings.length %></strong> seguindo</p>
                  </div>
            </div>
        </div>
        <hr>
        <div class="post-data" id="post-data">
            <% if(user && perfil.id != user.id) { %>
                <div class="post-area">
                    <form action="/post" method="post">
                        <div class="post-input">
                            <img src="<%= user.picture%>" alt="">
                            <input type="text" name="textCreator" placeholder="Faça um depoimento para <%=perfil.name%>">
                        </div>
                        <hr>
                        <button type="submit">
                            Enviar <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                        <input type="hidden" name="creatorId" value="<%= user.id %>">
                        <input type="hidden" name="receiverId" value="<%= perfil.id %>">
                    </form>
                </div>
            <% } %>
            <% if(posts && posts.length > 0){ 
                posts.forEach(post => { %>
                    <div id="post-division" class="post-division">
                        <p>De <a href="/perfil/<%=post.creator.username%>"><%=post.creator.username%></a> para <a href="/perfil/<%=post.receiver.username%>"><%=post.receiver.username%></a></p>
                        <div class="post-content">
                        <% if(post.textReceiver) { %>
                            <div class="post-content-receiver">
                                <img src="<%=perfil.picture%>">
                                <a href="/perfil/<%=perfil.username%>"><%=perfil.name%></a>
                                <div class="post-name">
                                    <p>@<%=perfil.username%> </p>
                                    <p>•</p>
                                    <p><%=helpers.compareTime(post.createdOn)%></p>
                                </div>
                                <% if(user && (user.id == post.creatorId || user.id == post.receiverId)) { %>
                                    <a class="delete-post" href="/post/delete/<%=post.id%>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                <% } %>
                            </div>
                            <p class="text-receiver"><%= post.textReceiver %></p>
                            <div class="post-creator">
                                <div class="post-creator-info">
                                    <img src="<%=post.creator.picture%>">
                                    <p><a href="/perfil/<%=post.creator.username%>"><%=post.creator.name%></a></p>    
                                    <p style="margin-left:5px; color:#1d1d1d;">@<%=post.creator.username%></p>
                                </div>
                                <p class="text-creator"><%= post.textCreator %></p>
                            </div>
                            <div class="info-post-data">
                                <p onclick="openLikes('<%= post.id %>')" id="count_<%=post.id%>" style="margin-left: 10px; cursor: pointer;"><strong><%= post.likes.length %></strong> curtidas</p>
                                <p id="comments_<%=post.id%>" style="margin-left: 10px; cursor: pointer;"><strong><%= post.comments.length %></strong> comentários</p>
                            </div>
                            <% if(user) { %>
                                <hr>
                                <div class="actions">
                                    <script>isLiked("<%=post.id%>");</script>
                                    <button id="button_<%=post.id%>" onclick="likeAction(event)">Curtir <i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    <button onclick="openComments('<%=post.id%>')">Comentar <i class="fa fa-comment-o" aria-hidden="true"></i></button>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="post-content-receiver">
                                <img src="<%=post.creator.picture%>">
                                <a href="/perfil/<%=post.creator.username%>"><%=post.creator.name%></a>
                                <div class="post-name">
                                    <p>@<%=post.creator.username%> </p>
                                    <p>•</p>
                                    <p><%=helpers.compareTime(post.createdOn)%></p>
                                </div>
                                <% if(user && (user.id == post.creatorId || user.id == post.receiverId)) { %>
                                    <a class="delete-post" href="/post/delete/<%=post.id%>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                <% } %>
                            </div>
                            <p style="margin-bottom: 10px;" class="text-receiver"><%= post.textCreator %></p>
                            <div class="info-post-data">
                                <p onclick="openLikes('<%= post.id %>')" id="count_<%=post.id%>" style="margin-left: 10px; cursor: pointer;"><strong><%= post.likes.length %></strong> curtidas</p>
                                <p id="comments_<%=post.id%>" style="margin-left: 10px; cursor: pointer;"><strong><%= post.comments.length %></strong> comentários</p>
                            </div>
                            <% if(user) { %>
                                <hr>
                                <div class="actions">
                                    <script>isLiked("<%=post.id%>");</script>
                                    <button id="button_<%=post.id%>" onclick="likeAction(event)">Curtir <i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    <button onclick="openComments('<%=post.id%>')">Comentar <i class="fa fa-comment-o" aria-hidden="true"></i></button>
                                </div>
                            <% } %>
                        <% } %>
                        </div>
                    </div>
                    <% }) %>
            <% } else { %>  
                <p style="text-align: center; color: #757575">@<%=perfil.username%> não possui nenhuma publicação</p>
            <% } %>
        </div>
    </div>
    <div style="display: none;" class="followers_table" id="followers">
        <div style="display: flex;">
            <h2 style="text-align: left;">Seguidores</h2>
            <h2 onclick="openFollowers()" style="margin-left: auto; cursor: pointer;">X</h2>
        </div>
        <hr>
        <% perfil.followers.forEach((u) => {  %>
            <div class="user" onclick="goToPerfil('<%= u.follower.username%>')">
                <img src="<%= u.follower.picture %>" alt="">
                <div class="user-text">
                    <p><strong><%= u.follower.username%></strong></p>
                    <p><%= u.follower.name %></p>
                </div>
            </div>
        <% }) %>
    </div>
    <div style="display: none;" class="followers_table" id="likes">
        <div style="display: flex;">
            <h2 style="text-align: left;">Likes</h2>
            <h2 onclick="openLikes()" style="margin-left: auto; cursor: pointer;">X</h2>
        </div>
        <hr>
        <div id="users-list">
        </div>
    </div>
    <div style="display: none;" class="followers_table" id="followings">
        <div style="display: flex;">
            <h2 style="text-align: left;">Seguindo</h2>
            <h2 onclick="openFollowings()" style="margin-left: auto; cursor: pointer;">X</h2>
        </div>
        <hr>
        <% perfil.followings.forEach((u) => {  %>
            <div class="user" onclick="goToPerfil('<%= u.following.username%>')">
                <img src="<%= u.following.picture %>" alt="">
                <div class="user-text">
                    <p><strong><%= u.following.username%></strong></p>
                    <p><%= u.following.name %></p>
                </div>
            </div>
        <% }) %>
    </div>
    <% if(user) { %>
    <div style="display: none;" class="followers_table" id="comments">
        <div style="display: flex;">
            <h2 style="text-align: left;">Comentários</h2>
            <h2 onclick="openComments()" style="margin-left: auto; cursor: pointer;">X</h2>
        </div>
        <div class="user-comment-form">
            <img src="<%= user.picture %>" alt="">
            <input type="text" id="textComment" placeholder="Digite seu comentário">
            <button id="send-comment">Enviar <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
        <hr>
        <div id="comments-list">
        </div>
        <p style="cursor: pointer; color: white; font-weight: bold;" onclick="actionMoreComments()" class="load-comments" href="#">Carregar mais comentários</p>
    </div>
    <% } %>
</body>
<% if(user && perfil.id != user.id) { %>
    <script src="/js/follow.js"></script>
<% } %>
<script>
    function goToPerfil(event){
        window.location.href = '/perfil/' + event;
    }

    function openFollowers(){
        if(document.getElementById("followers").style.display == 'block')
            document.getElementById("followers").style.display = 'none';
        else
        document.getElementById("followers").style.display = 'block'
    }

    function openFollowings(){
        if(document.getElementById("followings").style.display == 'block')
            document.getElementById("followings").style.display = 'none';
        else
            document.getElementById("followings").style.display = 'block'
    }

    function openLikes(post){
        if(document.getElementById("likes").style.display == 'block')
            document.getElementById("likes").style.display = 'none';
        else{
            postInfo(post);
            document.getElementById("likes").style.display = 'block'
        }
    }

    function openComments(post){
        if(document.getElementById("comments").style.display == 'block'){
            setTarget(0);
            document.getElementById("comments").style.display = 'none';
        }
        else{
            setTarget(post);
            loadMoreComments(post);
            document.getElementById("comments").style.display = 'block'
        }
    }
    </script>
<script src="/js/compareTime.js"></script>
<script>
    window.addEventListener('scroll', () => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            loadMorePosts();
        }
    });

    let currentPage = 1;
    let loading = false;
    let block = false;

    function loadMorePosts() {
        if (loading || block) 
            return;
        
        loading = true;
        const postContainer = document.getElementById('post-data');

        const url = `/perfil/<%= perfil.username %>/posts?page=${currentPage + 1}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                if(data.posts.length > 0){
                    currentPage++;
                    console.log(data.posts.length);
                    data.posts.forEach(post => {
                        if(post.textReceiver){
                            const postDiv = document.createElement('div');
                            postDiv.className = "post-division";
                            let html = `
                            <p>De <a href="/perfil/${post.creator.username}">${post.creator.username}</a> para <a href="/perfil/${post.receiver.username}">${post.receiver.username}</a></p>
                            <div class="post-content">
                                <div class="post-content-receiver">
                                    <img src=${post.receiver.picture}>
                                    <a href="/perfil/${post.receiver.username}">${post.receiver.name}</a>
                                    <div class="post-name">
                                        <p>@${post.receiver.username}</p>
                                        <p>•</p>
                                        <p>${compareTime(post.createdOn)}</p>
                                    </div>
                                    ${data.user && (data.user.id == post.creator.id || post.receiver.id) ? `<a class="delete-post" href="/post/delete/${post.id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>`: ''}
                                </div>
                                <p class="text-receiver">${post.textReceiver}</p>
                                <div class="post-creator">
                                    <div class="post-creator-info">
                                        <img src="${post.creator.picture}">
                                        <p><a href="/perfil/${post.creator.username}">${post.creator.name}</a></p>    
                                        <p style="margin-left:5px; color:#1d1d1d;">@${post.creator.username}</p>
                                    </div>
                                    <p class="text-creator">${post.textCreator}</p>
                                </div>
                                <div class="info-post-data">
                                    <p onclick="openLikes('${post.id}')" id="count_${post.id}" style="margin-left: 10px; cursor: pointer"><strong>0</strong> curtidas</p><p id="comments_${post.id}" style="margin-left: 10px; cursor: pointer;"><strong>${post.comments.length}</strong> comentários</p>
                                </div>`;

                            if(data.user){ 
                                isLiked(post.id);
                                html += `<hr>
                                    <div class="actions">
                                        <button id="button_${post.id}" onclick="likeAction(event)">Curtir <i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                        <button onclick="openComments('${post.id}')">Comentar <i class="fa fa-comment-o" aria-hidden="true"></i></button>
                                    </div>`
                            }

                            html += '</div></div>'
                            postDiv.innerHTML = html;
                            postContainer.appendChild(postDiv);
                        }
                        else{
                            const postDiv = document.createElement('div');
                            postDiv.className = "post-division";
                            let html = `
                            <p>De <a href="/perfil/${post.creator.username}">${post.creator.username}</a> para <a href="/perfil/${post.receiver.username}">${post.receiver.username}</a></p>
                            <div class="post-content">
                                <div class="post-content-receiver">
                                    <img src="${post.creator.picture}">
                                    <a href="/perfil/${post.creator.username}">${post.creator.name}</a>
                                    <div class="post-name">
                                        <p>@${post.creator.username} </p>
                                        <p>•</p>
                                        <p>${compareTime(post.createdOn)}</p>
                                </div>
                                <a class="delete-post" href="/post/delete/${post.id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="info-post-data">
                                <p onclick="openLikes('${post.id}')" id="count_${post.id}" style="margin-left: 10px; cursor: pointer"><strong>0</strong> curtidas</p><p id="comments_${post.id}" style="margin-left: 10px; cursor: pointer;"><strong>${post.comments.length}</strong> comentários</p>
                            </div>`;

                            if(data.user){ 
                                isLiked(post.id);
                                html += `<hr>
                                    <div class="actions">
                                        <button id="button_${post.id}" onclick="likeAction(event)">Curtir <i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                        <button onclick="openComments('${post.id}')">Comentar <i class="fa fa-comment-o" aria-hidden="true"></i></button>
                                    </div>`
                            }

                            html += '</div></div>'
                            postDiv.innerHTML = html;
                            postContainer.appendChild(postDiv);
                        }
                    })
                }else{
                    block = true;
                }
                loading = false;
            });
    }
</script>
<script src="/js/comments.js"></script>
</html>