<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=perfil.name%></title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% if(user) { %>
    <div class="sidebar">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Página Inicial</a></li>
            <li><i class="fa fa-search" aria-hidden="true"></i><a href="/search">Pesquisar</a></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">Caixa de Entrada</a></li>
            <li><i class="fa fa-user-circle-o" aria-hidden="true"></i><a href="<%= helpers.baseUrl(`perfil/${user.username}`)%>">Perfil</a></li>
            <li><i class="fa fa-sign-out" aria-hidden="true"></i></i><a href="/logout">Sair</a></li>
        </ul>
    </div>
    <% } %>
    <div class="content">
        <div class="perfil-header">
            <img src="<%= perfil.picture%>" alt="">
            <div class="data">
                <h2>@<%= perfil.username %>
                    <% if (user && perfil.id == user.id) { %>
                      <a class="config" href="<%= helpers.baseUrl('config/perfil')%>">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      </a>
                    <% } else if(user && perfil.id != user.id) { %>
                        <button class="followButton" onclick="callFollow()" id="<%=`${user.id}-${perfil.id}`%>">Seguir</button>
                    <% } %>
                  </h2>                
                  <h3><%= perfil.name%></h3>
                  <p><%= perfil.bio%></p>
                  <div class="follow_data">
                    <p onclick="openFollowers()" id="followers_count"><strong><%= perfil.followers.length %></strong> seguidores</p>
                    <p onclick="openFollowings()"><strong><%= perfil.followings.length %></strong> seguindo</p>
                  </div>
            </div>
        </div>
        <hr>
        <p>Nenhum post encontrado</p>
    </div>
    <div style="display: none;" class="followers_table" id="followers">
        <div style="display: flex;">
            <h2 style="text-align: left;">Seguidores</h2>
            <h2 onclick="openFollowers()" style="margin-left: auto; cursor: pointer;">X</h2>
        </div>
        <hr>
        <% perfil.followers.forEach((u) => {  %>
            <div class="user" onclick="goToPerfil('<%= u.follower.username%>')">
                <img src="<%= u.follower.picture %>" alt="">
                <div class="user-text">
                    <p><strong><%= u.follower.username%></strong></p>
                    <p><%= u.follower.name %></p>
                </div>
            </div>
        <% }) %>
    </div>
    <div style="display: none;" class="followers_table" id="followings">
        <div style="display: flex;">
            <h2 style="text-align: left;">Seguindo</h2>
            <h2 onclick="openFollowings()" style="margin-left: auto; cursor: pointer;">X</h2>
        </div>
        <hr>
        <% perfil.followings.forEach((u) => {  %>
            <div class="user" onclick="goToPerfil('<%= u.following.username%>')">
                <img src="<%= u.following.picture %>" alt="">
                <div class="user-text">
                    <p><strong><%= u.following.username%></strong></p>
                    <p><%= u.following.name %></p>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<% if(user && perfil.id != user.id) { %>
    <script src="/js/follow.js"></script>
<% } %>
<script>
    function goToPerfil(event){
        window.location.href = '/perfil/' + event;
    }

    function openFollowers(){
        if(document.getElementById("followers").style.display == 'block')
            document.getElementById("followers").style.display = 'none';
        else
            document.getElementById("followers").style.display = 'block'
    }

    function openFollowings(){
        if(document.getElementById("followings").style.display == 'block')
            document.getElementById("followings").style.display = 'none';
        else
            document.getElementById("followings").style.display = 'block'
    }
</script>
</html>