<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testify</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/logo-ico.ico" type="image/x-icon">
</head>

<body>
    <% if(user) { %>
        <%- include(`../components/menu`) %>
    <% } %>
        <div class="content">
            <h1>Pesquisar</h1>
            <form action="<%= helpers.baseUrl(`search`)%>" method="GET">
                <div id="search-form">
                    <input type="search" name="value" value="<%=value%>">
                    <button type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>   
                </div>
            </form>
            <hr>
            <div class="users-list">
                <% if(!users) { %>
                    <p>Nenhum usuário encontrado.</p>
                <% } else { 
                    users.forEach((u) => { 
                        if(u.id != user.id){ %>
                        <div class="user" onclick="goToPerfil('<%= u.username%>')">
                            <img src="<%= u.picture %>" alt="">
                            <div class="user-text">
                                <p><strong><%= u.username%></strong></p>
                                <p><%= u.name %></p>
                            </div>
                        </div>
                   <% }}) 
                 } %>
            </div>
        </div>
</body>
<script>
    function goToPerfil(event){
        window.location.href = '/perfil/' + event;
    }
</script>
</html>